@import url(http://fonts.googleapis.com/css?family=Pacifico|Bangers|Fjalla+One);

* {
    margin: 0;
    padding: 0;
}

body{
  background-color: #556677;
}

.baseBlue{
    color:white;
    background-color: #225599;
    border-color: #225599;
}

.greyBlue{
    color:white;
    background-color: #556677;
    border-color: #556677;
}

.darkGrey{
    color:white;
    background-color: #3D444C;
    border-color: #3D444C;
}

.black {
    color: #2B2B2B;
}

.heading{
    font-size: 54px;
    font-weight: 300;
    font-family: 'Pacifico', cursive;
    padding-bottom: 20px;
    text-decoration: underline;
}

.subheading{
    font-size: 32px;
    font-weight: 300;
    font-family: 'Fjalla One', sans-serif;
}

#mc_embed_signup {
    background: #fff;
    font: 14px Helvetica, Arial, sans-serif;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
}

.well{
    -webkit-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
}

.control-label{
    color: black;
}

.show-mobile{
    display: block;
}

.show-non-mobile{
    display: none;
}

.navbar{
    z-index: 1;
    height: 100px;
    border-bottom: 1px solid black;
}

.navbar-header{
    height: 100px;
}

.navbar-toggle {
    margin-top: 33px;
}

.navbar-brand{
    height: 100%;
    width: 100%;
    margin-top: -75px;
}

.navbar-brand img{
    width: 250px;
    margin-top: -15px;
}

.navbar-nav{
    margin-top: -5px;
}

.navbar-nav li:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.navbar-nav li a {
    text-align: center;
    font-size: 38px;
    background-color: #f8f8f8;
    font-family: 'Bangers', cursive;
}

#social:hover {
    color: #376bf8;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social {
    color: white;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
#social-cont{
    background-color: #3D444C;
    margin-top: -1px;
    padding-bottom: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid black;
    border-top: none;
    width: 250px;
}

#carousel {
    display: none;
    margin-top: -21px;
}

#music-cont{
   padding-top: 175px;
    padding-bottom: 50px;
}

#about-cont,
#roster-cont,
#contact-cont{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#about-cont p1 {
    margin-top: 25px;
    padding: 15px;
    display: block;
    width: 100%;
    height: auto;
}

#about-cont p2 {
    margin-top: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    height: auto;
}

#about-cont ul {
    list-style: none;
}

footer {
    background-color: darkgrey;
    height: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer div > div > p{
    padding-top: 40px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .show-mobile{
        display: none;
    }

    .show-non-mobile{
        display: block;
    }

    .navbar-header{
        width: 250px;
    }

    .navbar-brand{
        margin-top: 0px;
    }

    .navbar-nav{
        margin-top: 25px;
        margin-left: 5px;
    }

    .navbar-nav li {
        margin-right: 10px;
        padding-right: 9px;
    }

    .navbar-nav li a {
        color: white;
        font-size: 24px;
        text-align: none;
        border-radius: 5px;
        background-color: #3D444C;
    }

    .navbar-nav li a:visited{
        color: white;
    }

    .navbar-nav li a:hover{
        background-color: white;
    }

    .navbar-nav li:first-child {
        padding-left: 9px;
        border-left: 2px solid black;
    }

    .navbar-nav li:last-child {
        border-bottom: none;
    }

    .navbar-nav li {
        border-right: 2px solid black;
    }

    #carousel {
        display: block;
    }

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-nav li a {
        font-size: 38px;
    }
    .navbar-nav{
        margin-left: 80px;
    }
    #music-cont{
       padding-top: 0px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-nav{
        margin-left: 250px;
    }
}

/* Large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
    .navbar-brand{
        padding-left: 200px;
    }

    .navbar-nav{
        margin-left: 350px;
    }

    .navbar-nav li {
        margin-right: 30px;
        padding-right: 27px;
        border-right: 2px solid black;
    }

    .navbar-nav li:first-child {
        padding-left: 27px;
        border-left: 2px solid black;
    }
}
